<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
      <a class="navbar-brand" href="#"
        ><img src="../assets/logo.png" alt="logo" height="30"
      /></a>
      <div class="collapse navbar-collapse justify-content-end" id="startNavbar">
        <div class="navbar-nav d-flex ">
          <a class="nav-item nav-link active" href="#"
            >Home <span class="sr-only">(current)</span></a
          >
          <a class="nav-item nav-link" href="#">Features</a>
          <a class="nav-item nav-link" href="#">Pricing</a>
          <a class="nav-item nav-link" href="#">Disabled</a>
          <button class="btn btn-primary" href="#">Sign in</button>
        </div>
      </div>
    </nav>

    <div id="stage">
      <div id="stage-caption">
        <h1 class="display-3">Startup logo-just do it</h1>
        <p>request uses functional cookies and non-personalized content.
          Click 'OK' to allow us and our partners to use your data for the best experience!</p>
        <a href="" class="btn btn-lg btn-success">Sign up now</a>
      </div>
    </div>

    <!-- vedio -->
    <section id="feature-one">
      <div class="container">
        <div class="feature-content">
        <div class="row">
            <div class="col-lg-6">
              <iframe width="100%" height="315"
              src="https://www.youtube.com/embed/0NtY-OF4a7o" title="YouTube video player"
              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-lg-5 offset-lg-1">
              <h6>Watch this</h6>
              <h2>Watch this beautifuk vedio from GGVV</h2>
              <p class="lead">request uses functional cookies and non-personalized content.
                Click 'OK' to allow us and our partners to use your data for the best experience!</p>
                <p>request uses functional cookies and non-personalized content.
                  Click 'OK' to allow us and our partners to use your data for the best experience!</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- i-phone -->
    <section id="feature-two" class="feature-dark">
      <div class="container">
          <div class="feature-content">
            <div class="row">
            <div class="col-lg-6 feature-caption">
              <h6>Feature</h6>
              <h2>Totally random website</h2>
              <p class="lead">request uses functional cookies and non-personalized content.
                Click 'OK' to allow us and our partners to use your data for the best experience!</p>
                <a href="" role="button" class="btn btn-outline-secondary btn-lg">get in to action</a>
            </div>

            <div class="col-lg-6 text-sm-center hidden-md-down">
              <img src="../assets/iphone-1.png" alt="iphone">
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- macbook -->
    <section id="feature-three">
      <div class="container">
          <div class="feature-content">
            <div class="row">
            <div class="col-lg-6 hidden-md-down">
              <img src="../assets/macbook.png" alt="macbook">
            </div>

            <div class="col-lg-5 offset-lg-1">
              <h6>Feature</h6>
              <h2>Totally random website</h2>
              <p class="lead">request uses functional cookies and non-personalized content.
                Click 'OK' to allow us and our partners to use your data for the best experience!</p>
                <a href="" role="button" class="btn btn-outline-primary btn-lg">Git'r done</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- boy -->
    <section id="feature-four" class="feature-alt">
      <div class="container">
          <div class="feature-content">
            <div class="row">
            <div class="col-lg-6">
              <h6>Kudos</h6>
              <blockquote class="blockquote">
                &ldquo;No Startup.logo, no kiss.&rdquo;
                <footer class="blockquote-footer">
                    boy, <cite>some handsome guy</cite>
                </footer>
              </blockquote>
            </div>

            <div class="col-lg-6 hidden-md-down feature-content1">
              <img src="../assets/brad-elvis.png" alt="brad">
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- macbook 2 -->
    <section id="feature-five" class="feature-full">
      <div class="container">
          <div class="feature-content">
            <div class="row">
            <div class="col-lg-8 offset-lg-2">
              <h6>Feature</h6>
              <h2>Totally random website</h2>
              <p class="lead">request uses functional cookies and non-personalized content.
                Click 'OK' to allow us and our partners to use your data for the best experience!</p>

                <h6>With Startup</h6>
                <div class="row">
                  <div class="col-lg-6">
                    <ul>
                      <li>request uses functional cookies</li>
                      <li>request uses functional cookies and non-personalized content</li>
                    </ul>
                  </div>
                  <div class="col-lg-6">
                    <ul>
                      <li>request uses functional cookies</li>
                      <li>request uses functional cookies and non-personalized content</li>
                    </ul>
                  </div>
                </div>
            </div>
            <img src="../assets/macbook-2.png" alt="macbook2">
          </div>
        </div>
      </div>
    </section>

    <!-- ipad -->
    <section id="feature-six" class="feature-dark">
      <div class="container">
          <div class="feature-content">
            <div class="row">
            <div class="col-lg-6 hidden-md-down">
              <img src="../assets/ipad.png" alt="ipad">
            </div>

            <div class="col-lg-5 offset-lg-1">
              <h6>Feature</h6>
              <h2>Totally random website</h2>
              <p class="lead">request uses functional cookies and non-personalized content.
                Click 'OK' to allow us and our partners to use your data for the best experience!</p>
                <a href="" role="button" class="btn btn-outline-secondary btn-lg">manggoooosss</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Toss some money -->
    <section id="feature-seven">
      <div class="container">
          <div class="feature-content">
            <div class="row">
            <div class="col-lg-8 offset-lg-2">
              <h6>Feature</h6>
              <h2>Totally random website</h2>
              <p class="lead">request uses functional cookies and non-personalized content.
                Click 'OK' to allow us and our partners to use your data for the best experience!</p>
                <a href="" role="button" class="btn btn-outline-success btn-lg">Toss some money</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- footer -->
    <footer id="main-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            &copy;request uses functional cookies
            <br>
            code by <a href="#">Gahan k</a>
          </div>
          <div class="col-md-2">
            <h6>Our Product</h6>
            <ul class="list-unstyled">
              <li><a href="">Features</a></li>
              <li><a href="">Solutions</a></li>
              <li><a href="">Plans</a></li>
              <li><a href="">Sign in</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <h6>Our Product</h6>
            <ul class="list-unstyled">
              <li><a href="">Features</a></li>
              <li><a href="">Solutions</a></li>
              <li><a href="">Plans</a></li>
              <li><a href="">Sign in</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <h6>Our Product</h6>
            <ul class="list-unstyled">
              <li><a href="">Features</a></li>
              <li><a href="">Solutions</a></li>
              <li><a href="">Plans</a></li>
              <li><a href="">Sign in</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
